header{
    display: grid;
    justify-content: center;
    background-color: rgb(111, 172, 224);
    font-size: xx-large;
    color: aqua;
}
body {
    background: linear-gradient(90deg, rgb(0, 0, 0), rgb(30, 149, 247));
    border: 0;
}
h1 {
    font-size: 70px;
    color: rgb(100, 189, 240);
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#flyguy{
    display: flex;
    justify-content: center;
    
}
#flyguy img{
    height: 300px;
    margin-bottom: 80px;
    z-index: 5;
    position:absolute;
}

main {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;

}
#Guy {
    height: 500px;
    display: flex;
    justify-content: flex-end;
}

#letters {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#words {
    color: white;
    padding-bottom: 10px;
    display: flex;
    height: 8vh;
    justify-content: center;
}
#play {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.strikes {
color: red;
}
#hateMongers img {
padding-top: 350px;
height: 250px;
width: 100%;
}
#guessThe{
    color: white;
    padding: 5px;
    display: flex;
    justify-content: center;
}
#message, #livesLeft {
    margin:0 auto;
    color: white;
    padding: 5px;
}
#flyguy img.fly {
    animation: flyAway 5s infinite;
}
    
@keyframes flyAway {
    from {
        transform: translatex(0px) translatey(0px);
    }
    to {
        transform: translatex(200px) translatey(-100px);
    }
}